* {
    font-family: 'Open Sans', sans-serif; 
}

.bg-orange {
    background-color: #ff4611;
}

.container-fluid {
    height: 100vh;
}

.header i {
    color: #f2f2f2;
}

.h-90 {
    height: 85vh!important;
}

input, select {
    background: #ff4611!important;
    border: none!important;
    border-color: white!important;
    border-bottom: solid white 1px!important;
    color: #ffffff!important;
}

.input-group i {
    color: #f2f2f2!important;
    padding: 10px 5px 0 0!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f2f2f2!important;
    opacity: 1 !important;/* Firefox */
  }

button {
    background-color: #ff2600!important;
    border: none!important;
    color: #f2f2f2;
}

button:focus {
    outline: none !important;
    border:1px solid white !important;
    box-shadow: 0 0 10px!important;
}

@media only screen and (min-width: 769px) {
    .app, .bottom {
        display: none;
    }
}

@media only screen and (max-width: 769px) {
    .web, .header, h1 {
        display: none !important;
    }
    .h-90 {
        height: auto!important;
    }
    .container-fluid, .bg-orange {
        background-color: #f2f2f2!important;
        width: 100% !important;
    }
    .app {
        display: block;
        margin-bottom: 20px;
        width: 100%!important;
        padding: 55px 0 10px 0;
        justify-self: center!important;
    }

    .orange {
        background-color: #ff2600!important;
        color: #ffffff;
    }
    .col-md-6 {
        width: 100%;
        margin: auto;
    }
    .col-sm-12 {
        width: 100%;
        margin-top: 0;
    }
    .col-sm-12  form{
        padding: 0 7% 0 7%;
    }
    .app a  {
        color: #ffffff!important;
    }
    input, select {
        background: #ffffff!important;
    }
    .input-group i {
        color: #999999!important;
    }
    ::placeholder, select, option { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #999999!important;
    }
    a.text-white  {
        color: #2a2929!important;
    }
}